whois
instaloader
discord.py==1.7.3
emailrep
requests
phonenumbers
pystyle
cloudscraper
fake_useragent
uuid
fade
py-socket
aiohttp
webbrowser
selenium
holehe
deep_translator
colorama
instaloader